footer.dark {
  color: rgba(255, 255, 255, 0.65);
  background-color: #000;
}
footer.dark a {
  color: #fff;
}
footer.dark h2 {
  color: #ffffff;
}
footer.dark h2 > span {
  color: #ffffff;
}
footer.dark .bottom-bar {
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
footer {
  margin-top: 30px;
  clear: both;
  color: #314659;
  font-size: 12px;
  background: #fff;
  border-top: 1px solid rgba(229, 231, 235, 100);
  box-shadow: 0 1000px 0 1000px #fff;
  width: 100%;
}
footer .ant-row {
  text-align: center;
}
footer .ant-row .footer-center {
  display: inline-block;
  text-align: left;
}
footer .ant-row .footer-center > h2 {
  position: relative;
  margin: 0 auto 24px;
  font-weight: 500;
  font-size: 14px;
}
footer .ant-row .footer-center > h2 > .anticon {
  position: absolute;
  top: 3px;
  left: -22px;
  color: #aaa;
  font-size: 16px;
}
footer .ant-row .footer-center > div {
  margin: 12px 0;
}
footer .footer-wrap {
  position: relative;
  padding: 20px 114px 20px 114px;
}
footer .bottom-bar {
  margin: 0;
  padding: 20px 114px;
  line-height: 24px;
  text-align: right;
  border-top: 1px solid rgba(229, 231, 235, 100);
}
footer .bottom-bar a {
  color: rgba(255, 255, 255, 0.65);
}
footer .bottom-bar a:hover {
  color: #fff;
}
footer .bottom-bar .translate-button {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}
footer .footer-logo {
  position: relative;
  top: -2px;
}
footer .footer-flag {
  position: relative;
  top: -4px;
  margin-right: 8px;
}
