<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.snof.simplesearch.search.mapper.WordDocCorrMapper">

    <sql id="insertFields">
        word, doc_id, corr
    </sql>

    <insert id="insertWordDocCorr" parameterType="WordDocCorr">
        insert into word_doc_corr(<include refid="insertFields"></include>)
        values(#{word},#{docId},#{corr})
    </insert>

<!--    sortWordDocCorr-->

</mapper>